*{
    padding: 0;
    margin: 0;
}
a{
    color: #333333;
} 
.van-nav-bar{
    height: 40px !important;
}
.van-nav-bar .van-icon{
    color: #000000 !important;
    
  }
  .van-icon{
      font-size: 0.4rem !important;
  }