*{
    padding: 0;
    margin: 0;
}
a{
    color: #333333;
} 
.van-nav-bar{
    z-index: 1000 !important;
    height: 40px !important;line-height: 40px !important;
}
.van-nav-bar .van-icon{
    color: #000000 !important;
    
  }
  .van-icon{
      font-size: 0.4rem !important;
}
@font-face{
    font-family:'myFont';
    src:url('../font/PingFang\ SC\ Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
html,body{
    font-family:myFont,sans-serif !important;
}
 img{
    width: 100%;
}
p{
    text-indent: 10px;
}
.van-popup{
    width: 90% !important;
    height:8rem !important;
    border-radius: 12px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}