@import '@/assets/style/index.scss';
.command {
    max-width: 1600px;
    min-width: 500px;
    margin: 0 auto;
    margin-top: 14px;
    .command-header {
        width: 100%;
        height: 35px;
        display: flex;
        justify-content: start;
        padding-left: 20px;
        .tab {
            margin-right: 5px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            /* padding: 2px; */
            font-size: 13px;
            padding-left: 10px;
            text-align: center;
            padding-right: 10px;
            @extend .PrimaryHover;
            &.is-select {
                background: #FFECF1;
                font-weight: 600;
                color: var(--color-primary);
            }
            &:active {
                background: #FFECF1;
                font-weight: 600;
                color: var(--color-primary);
            }
            &.active {}
        }
    }
    .content {
        width: 100%;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        .content-item {
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            overflow: hidden;
            box-sizing: border-box;
            padding-bottom: 82%;
            height: 0;
            display: inline-block;
            margin-left: 20px;
            margin-top: 10px;
            .location-wrapper {
                position: relative;
                color: var( --color-secondary-bg);
                background-color: #e7e7e7;
                .pic {
                    width: 100%;
                    height: 140px;
                    transition: opacity .3s ease;
                    transform: translate3d(0, 0, 0);
                }
                .dart {
                    width: 100%;
                    position: absolute;
                    bottom: 0px;
                    height: 25px;
                    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 33, 33, 0)), to(rgba(33, 33, 33, .5)));
                }
                .videoMsg {
                    background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 33, 33, 0)), to(rgba(33, 33, 33, .5)));
                    //  background: linear-gradient(180deg, rgba(33, 33, 33, 0), rgba(33, 33, 33, .5));
                    width: 100%;
                    position: absolute;
                    bottom: 0px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-left: 5px;
                    padding-right: 6px;
                    font-weight: bold;
                    .leftMsg {
                        display: flex;
                        .videoSum {
                            display: flex;
                            align-items: center;
                            &>div:nth-child(2) {
                                margin-left: 5px;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
            .text-content {
                height: 40%;
                .content {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    font-weight: bold;
                    font-size: 100%;
                    line-height: 20px;
                    height: 40px;
                }
                .up-icon {
                    display: flex;
                    align-items: center;
                    .upcontent {
                        line-height: 0;
                        margin-left: 4px;
                    }
                }
            }
        }
    }
}

@media (max-width:1600px) {
    .content {
        grid-template-columns: repeat(5, 1fr) !important;
    }
}

@media (max-width:1300px) {
    .content {
        grid-template-columns: repeat(4, 1fr) !important;
    }
}