@import '@/assets/style/index.scss';
.command-header {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: start;
    padding-left: 20px;
    .tab {
        margin-right: 5px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* padding: 2px; */
        font-size: 13px;
        padding-left: 10px;
        text-align: center;
        padding-right: 10px;
        @extend .PrimaryHover;
        &.is-select {
            background: #FFECF1;
            font-weight: 600;
            color: var(--color-primary);
        }
        &:active {
            background: #FFECF1;
            font-weight: 600;
            color: var(--color-primary);
        }
        &.active {}
    }
}