@import '@/assets/style/index.scss';
.app {
    display: flex;
    transition: all 0.4s;
    position: fixed !important;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.rightSlider {
    flex: 1;
    background: var( --color-body-bg);
    overflow: hidden;
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
}